<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta content="Roosevelt General Contracting, based in Houston, TX. We are Insurance Specialists, General Contractors, Roofing & Re-roofing Specialists, and offer New Construction services." name="description"/>
        <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,regular" rel="stylesheet" type="text/css"></link>
        <link rel="stylesheet" href="/css/screen.css">
    </head>
    <body>

      <div id="gradient"></div>
      <div id="header">
        <div id="shade">
          <div class="grid-container">
            <div id="logo">
              Roosevelt General Contracting
            </div>
            <div id="navigation">
              <ul>
                <li>
                  <a href="http://twitter.com/roosevelt_gc">Follow us on <span>Twitter</span></a>
                </li>
                <li>
                  <a href="http://www.facebook.com/pages/Roosevelt-General-Contracting/181819128531931">Like us on <span>Facebook</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="content">
        <h1>
          <plain>

            <span>We are <em>Insurance Specialists</em>, <em>General Contractors</em>,</span>
            <span><em>Roofing & Re-roofing Specialists</em> and offer <em>New Construction</em> services.</span>

          </plain>
        </h1>
        <div id="col-one">
          <div class="services">
            <div class="insurance">
              <h2>Insurance Specialists</h2>
              <p>We are experts at accessing funds through insurance companies. The insurance claim process is often lengthy and filled with red tape. We work directly with insurance companies on behalf of our customers to minimize out of pocket expenses and to get claims maximized in a timely manner. If your claim doesn't get approved our service is free.</p>
            </div>
            <div class="general-contractors">
              <h2>General Contractors</h2>
              <p>Our business is managing general construction activities. We’re comfortable acting either as an advocate or assuming contractual responsibility for the project. No matter what the delivery method, we’ll find the best way to direct your project from start to finish, all while saving you time and money.</p>
            </div>
            <div class="licensed-insured">
              <h3>We are fully Licensed and Insured.</h3>
              <h4>~ Better Business Bureau Accredited Member ~</h4>
            </div>
            <div class="reroofing">
              <h2>Roofing & Re-roofing</h2>
              <p>Our team is comprised of Certified Master Shingle Installers through Certianteed. If your roof has been damaged, let us provide a free inspection by a Master Shingle Installer to determine the severity of damage and to explain what options are available to you. Inspections are free.</p>
            </div>
            <div class="new-construction">
              <h2>New Construction</h2>
              <p>We assist developers, government agencies, facility owners, property owners and design teams in creating high-performance buildings. We provide the required technical support to projects as well as design-build options which allow flexibility to customize your ideas, meeting needs and budgets, on time.</p>
            </div>
          </div>
          <div class="services-list">
            <h2>Services</h2>
            <ul>
              <li>Insurance Specialists</li>
              <li>Composition Roofing</li>
              <li>Tile Roofing</li>
              <li>Metal Roofing</li>
              <li>Low Pitch Roofing</li>
              <li>Flat Roofing</li>
              <li>Siding</li>
              <li>Gutters</li>
              <li>Windows</li>
              <li>Foundation Repair</li>
              <li>Plumbing</li>
              <li>Electrical</li>
              <li>Painting</li>
              <li>Drywall</li>
              <li>Hardwood Flooring</li>
              <li>Carpet</li>
              <li>Tile/Acrylic Flooring</li>
              <li>Laminate Flooring</li>
              <li>Stucco</li>
              <li>Soffit/Facia</li>
              <li>Framing</li>
            </ul>
          </div>
          <div class="links-list">
            <h2>Partners and Helpful Links</h2>
            <ul>
              <li>
                <a href="http://www.certainteed.com/">Certainteed</a>
              </li>
              <li>
                <a href="http://www.gaf.com/">GAF</a>
              </li>
              <li>
                <a href="http://www.owenscorning.com/">Owens Corning</a>
              </li>
              <li>
                <a href="http://www.monierlifetile.com/">MonierLifetile</a>
              </li>
              <li>
                <a href="http://www.cunninghamlindsey.com/">Cunningham Lindsey</a>
              </li>
              <li>
                <a href="http://www.consumerreports.org/">Consumer Reports</a>
              </li>
              <li>
                <a href="http://www.nrca.net/">NRCA</a>
              </li>
              <li>
                <a href="http://www.bobvila.com/">Bob Vila</a>
              </li>
              <li>
                <a href="http://www.statefarm.com/">State Farm</a>
              </li>
              <li>
                <a href="http://www.allstate.com/">Allstate</a>
              </li>
              <li>
                <a href="https://www.usaa.com/inet/pages/insurance_home_condo">USAA</a>
              </li>
              <li>
                <a href="http://www.farmers.com/">Farmers</a>
              </li>
              <li>
                <a href="http://www.balboainsurance.com/">Balboa</a>
              </li>
              <li>
                <a href="http://www.nationwide.com/">Nationwide</a>
              </li>
              <li>
                <a href="http://www.crawfordandcompany.com/">Crawford</a>
              </li>
              <li>
                <a href="http://www.twia.org/">Texas Windstorm</a>
              </li>
              <li>
                <a href="http://houston.bbb.org/">Better Business Bureau</a>
              </li>
            </ul>
          </div>
        </div>
        <div id="col-two">
          <div class="cta">
            <p>Call us today at:</p>
            <p class="number">(832) 748-0596</p>
          </div>
          <div class="form">
            <script>
              var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script>
              var z7x3k7 = new WufooForm();
              z7x3k7.initialize({
              'userName':'rooseveltgc',
              'formHash':'z7x3k7',
              'autoResize':true,
              'height':'899'});
              z7x3k7.display();
            </script>
            <script defer src="https://connect.podium.com/widget.js#API_TOKEN=a8a002f7-3e43-42fd-bc13-9a5e000b79b3" id="podium-widget" data-api-token="a8a002f7-3e43-42fd-bc13-9a5e000b79b3"></script>
          </div>
        </div>
      </div>
      <div id="footer">
        <div class="grid-container">
          <div class="navigation">
            <ul>
              <li>
                <a href="http://twitter.com/roosevelt_gc">Follow us on <span>Twitter</span></a>
              </li>
              <li>
                <a href="http://www.facebook.com/pages/Roosevelt-General-Contracting/181819128531931">Like us on <span>Facebook</span></a>
              </li>
            </ul>
          </div>
          <div class="logo">
            Roosevelt General Contracting
          </div>
        </div>
      </div>
      <div class="m3c-bar">
        <div class="container">
          <div class="copyright">
            <p>Copyright &copy; 2010-2014 Roosevelt General Contracting, All Rights Reserved.</p>
            <p class="address">
              11811 North Freeway, Suite 500, Houston, TX 77060
            </p>
          </div>
        </div>
      </div>

      <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.min.js"></script>
      <script type="text/javascript" src="/javascripts/modernizr-1.6.min.js"></script>
      <script type="text/javascript" src="/javascripts/application.js"></script>

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-250366-8', 'rooseveltgc.com');
        ga('send', 'pageview');
      </script>

    </body>
</html>
